<!-- simple search -->
<div class="input-group">
	<input type="text" class="form-control" ng-model="fields.term" placeholder="Search for...">
	<span class="input-group-btn">
		<input class="btn btn-primary" type="submit" value="Search" ng-click="simpleSearch(fields.term)">
		<button class="btn btn-default" type="button" id="clearButton" ng-click="clear()">Clear</button>
	</span>
</div>

<div class="form-group form-inline">
	<div class="checkbox">
		<label>
			<input type="checkbox" value="" ng-model="options.fuzzySearch">
			Fuzzy Search
		</label>
	</div>
	&nbsp;
	<div class="checkbox">
		<label>
			<input type="checkbox" value="" ng-model="options.highlight">
			Highlight Matches
		</label>
	</div>
	&nbsp;
	<div class="checkbox">
		<label>
			<input type="checkbox" value="" ng-model="options.exactMatch">
			Exact Match
		</label>
	</div>
</div>

<!-- <p class="text-center"><button type="button" class="btn btn-link" ui-sref="Search.advanced">use advanced search</button></p> -->

<div class="grid" ng-show="dataSearch.data().length">
	<div>A search for <em>{{term || "everything"}}</em> found {{totalResults}} results.</div>
	<br/>
	<div kendo-grid="myGrid" k-options="mainGridOptions"></div>
</div>

<div ng-show="!searchForm.pristine && searchForm.$submitted && searchForm.$dirty && dataSearch.data().length === 0">No results found for <em>{{noResultsTerm}}</em>.</div>
<br/>